header{
    background-image: url("images/image2.png");
    background-size: cover;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;

}
header div P{
    color: #F19201;
}
#logo{
    left: 30px;
    display: flex;
    position: relative;
    top: 20px;
}
#list>ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    
    
}
#list>ul>li{
    float: left;
    color: #F19201;
    display: inline;
    width: 1%;
    position: relative;
    
}
#list>ul>li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 50px;
    text-decoration: white;
    
}
#list>ul>li a:hover{
    background-color: #F19201;
}
#description{
    color: white;
    left: 25px;
    bottom: -50px;
    position: relative;
}
