body{
    background-color: #E5E5E5;
}
header{
    background-image: url("images/image2.png");
    background-size: cover;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;

}
header div P{
    color: #F19201;
}
#logo{
    left: 30px;
    display: flex;
    position: relative;
    top: 20px;
}
#mes{
    text-align: center;
    color: #F19201;
}
#list>ul{
    display: flex;
    padding-right: 5px;
    list-style-type: none;
    position: static;
    float: right;
    position: relative;
    top: -105px;

    
    
}
#list>ul>li{
    margin-top: 0px;
    margin-right: 0px;
    
}
#list>ul>li a{
    color: white;
    text-align: center;
    padding: 10px 50px;
    text-decoration: white;
    
}
#list>ul>li a.active{
    background-color: #F19201;
}
#list>ul>li a:hover{

    background-color: #F19201;
}
#description{
    color: white;
    left: 25px;
    bottom: -60px;
    position: relative;
}
#order p{
    color: white;
}
#order{
    background-color:#F19201;
    width: 80px;
    height: 20px;
    left: 25px;
    position: relative;
    bottom: -40px;
}
section1>div>h3{
    text-align: center;
    color: #F19201;
    font-family: Roboto;
}
.italic{
    font-style: italic;
    font-family: Roboto;
    text-align: center;
    font-size: small;
}
.box{
    
    padding: 20px;
    margin-right: 35px;
    border: solid gray;
    background-color: white;
    
}
section p{
    font-style: italic;
    font-family: Roboto;
    text-align: center;
    font-size: small;
}
.container{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 100px;
}
.container2{
    display: flex;
    background-color: black;
}
.rev{

    text-align: center;
    color: white;
    position: relative;
    left: 50px;
    top: 100px;
}
.rev>p{
    font-style: italic;
    font-size: small;
}
.rev>h1{
    font-size: xx-large;
}
.mage  img{
        max-width: 500px;
        max-height: 500px;
        float: left;
        
}


.menu3 img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    
}
.box3{
  
  height: 100px;

}


.three{
    text-align: center;
    font-style: italic;
    font-size: small;
    background-color: #E5E5E5;
    
}
#menu2{
    font-style: normal;
    color: #F19201;
    font-size: x-large;
}

.container3{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    flex-direction: row;
    background-color: #E5E5E5 ;
    }

.div-1{
    display: flex;
    border: 1px solid #fff;
    background-color: #fff; 
}
.tr{
    color: #F19201;
}
.tr1{
    background-color:#E5E5E5;
    width: 50px;
    height: 25px;

    
    
}
.div-1>h3{
    text-align: center;
}
.div-1>p{
text-align: justify;
    font-style: italic;
    font-size: small;
    
}
.div-1>img{
    height: 200px;
    width: 200px;
}
.div-2{
    padding: 10px black;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -10px;
    right: -100px;
    margin: left 40px;
    
    
}
div-2{
    text-align: center;
}
.food{
    border: 1px solid white;
}
.bottom{
    text-align: center;
    background-image: url("images/image8.png");
    background-size: cover;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    color: white;

}
#finish{
    position: relative;
    top: 100px;
    
}

.finish2{
    width: 150px;
    height: 75px;
border: 20px white;
position: relative;
left: 450px;
margin: white;
padding: 10px;
}
.copy>#right>p{
    font-size: xx-small;
    font-style: normal;
    color: white;
}
.copy{
    background-color: black;
    height: 30px;
    position: relative;
    top: -10px;
}

