header{
    background-image: url("images/image2.png");
    background-size: cover;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;

}
header div P{
    color: #F19201;
}
#logo{
    left: 30px;
    display: flex;
    position: relative;
    top: 20px;
}
#mes{
    text-align: center;
    color: #F19201;
}
#list>ul{
    display: flex;
    padding-right: 5px;
    list-style-type: none;
    position: static;
    float: right;
    position: relative;
    top: -105px;

    
    
}
#list>ul>li{
    margin-top: 0px;
    margin-right: 0px;
    
}
#list>ul>li a{
    color: white;
    text-align: center;
    padding: 10px 50px;
    text-decoration: white;
    
}
#list>ul>li a.active{
    background-color: #F19201;
}
#list>ul>li a:hover{

    background-color: #F19201;
}
#description{
    color: white;
    left: 25px;
    bottom: -60px;
    position: relative;
}
#order p{
    color: white;
}
#order{
    background-color:#F19201;
    width: 80px;
    height: 20px;
    left: 25px;
    position: relative;
    bottom: -40px;
}
section1>div>h3{
    text-align: center;
    color: #F19201;
    font-family: Roboto;
}
.italic{
    font-style: italic;
    font-family: Roboto;
    text-align: center;
    font-size: small;
}
.box{
    
    padding: 20px;
    margin-right: 35px;
    border: solid gray;
    background-color: white;
    
}
section p{
    font-style: italic;
    font-family: Roboto;
    text-align: center;
    font-size: small;
}
.container{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 100px;
}
.container2{
    
    background-color: black;
}
.rev>p{

    text-align: center;
    color: white;
    font-style: italic;
    font-size: small;
}
.rev>h1{

    text-align: center;
    color: white;
}
.rev>h2{
    
    text-align: center;
    color: white;
}
.rev{
    
    display: inline;
    text-align: center;
    color: white;
}
#loo{
    font-style: normal;
    color: white;
}

.mage  img{
        max-width: 900px;
        max-height: 600px;
        float: left;
        
}


.menu3 img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    
}
.box3{
  
  height: 100px;

}
#container3{
    width: 100%;
    background-color:  #E5E5E5;
    
        
        
    }

.three{
    text-align: center;
    font-style: italic;
    font-size: small;
    background-color: #E5E5E5;
    
}
#menu2{
    font-style: normal;
    color: #F19201;
    font-size: x-large;
}

.div-1{
    display: flex;
    background-color: white;
    padding: ;



    
    
}
.div-1>h3{
    text-align: center;
}
.div-1>p{
    text-align: center;
}
.div-1>img{
    height: 200px;
    width: 200px;
}
.div-2{
    padding: 10px black;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -10px;
    right: -100px;
    margin: left 40px;
    
    
}
div-2{
    text-align: center;
}
.food{
    border: 1px solid white;

}

